<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/StiloviForma.css" />
<link rel="stylesheet" type="text/css"
	href="css/StiloviHorizontalniMeni.css" />
<meta charset="UTF-8">
<title>DODAVANJE KNJIGE</title>
</head>
<body>
	<ul>
		<li><a href="knjige">Knjige</a></li>
		<li><a href="clanskekarte">Clanske karte</a></li>
	</ul>
	
	<form action='/add' method="post">
		<table>
			<caption>Ime</caption>
			<td>
			<input type="text" name="naziv">
			</td>
		</table>
	</form>

</body>
</html>